# 操作系统相关
#-----------------
# OSX / macOS
.DS_Store
*.pem

#-----------------
# 移动应用开发
#-----------------
# Android 和 iOS 文件夹 (完全忽略)
/android/
/ios/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/vendor/bundle/

#-----------------
# JavaScript/Node
#-----------------
# 依赖包
node_modules/

# 日志
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

#-----------------
# 开发工具
#-----------------
# VSCode
.vscode/

# EAS
eas.json

# 临时文件
*.tmp
*.bak

# 环境变量
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# AsyncStorage
.asyncstorage/
asyncstorage-backup/

# Local Netlify folder
.netlify

# fastlane
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

#-----------------
# 测试与构建
#-----------------
# 测试覆盖率
/coverage

# TypeScript
*.tsbuildinfo

#-----------------
# 示例与其他
#-----------------
# 示例文件
app-example

# 压缩文件
.rar
.zip
.7z
.tar
.tar.gz
.tar.bz2
.tar.xz